:root{
    --primary-text-color: #757575;
    --black-title-color: #212121;
    --white-title-color: #ffffff;
    --additional-color: #2196F3;

    --primary-bgc: #ffffff;
    --button-bcg: #F5F4FA;
    --temporary-bgc: #c2c2c2;
}

body{
    color:var(--primary-text-color);
    background-color: var(--temporary-bgc);
    font-family: roboto, sans-serif;
    letter-spacing: 0.03em;
    
}
.list{
    list-style: none;
}

.section-title{
    color: var(--black-title-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
}

/* LOGO */
.part-first{
    color: var(--additional-color);
}

.part-second{
    color: var(--black-title-color);
}

.logo{
    font-family: raleway, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.2;
}

/* NAVIGATION */

.nav a{
    color: var(--black-title-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav a:hover{
    color: var(--additional-color);

}

.nav a:focus{
    color: var(--additional-color);

}

.nav a:active{
    color: var(--additional-color);

}

/* CONTACTS */

.contacts a{
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts a:hover{
    color: var(--additional-color)
}

/* герой */
.hero h1{
    color: var(--white-title-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em
}

.hero a{
    color: var(--white-title-color);
    background-color: var(--additional-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    
    }

/* наши преимущества */

.advantages h3{
    color: var(--black-title-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
}

.advantages p{
    font-size: 14px;
    line-height: 1.7;

}

/* Чем мы занимаемся */

.activities h3{
    color: var(--white-title-color);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
}

/* Команда */

.team h3{
    color: var(--black-title-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team p{
    font-size: 16px;
    line-height: 1.19;
}

.team a:hover{
    background-color: var(--additional-color);
}
.team a:focus{          
    background-color: var(--additional-color);
}

/* Постоянные клиенты  */

/* .client-icon:hover svg{
    fill: red;
} */

.clients-icons-list:hover .client-icon {
fill: rgb(255, 0, 0);
}


/* footer */

.location{
    color: var(--white-title-color);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
}

.footer-contacts a{
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    font-style: normal;
    text-decoration: none;
}

.attention{
    color: var(--white-title-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
}

.sm-list a:hover{
    background-color: var(--additional-color);
}




/* PORTFOLIO */

.portfolio-button{
    font-family: inherit;
    color: var(--black-title-color);
    background-color: var(--button-bcg);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;

}

.portfolio-button:hover{
    color: var(--white-title-color);
    background-color: var(--additional-color);
}

.portfolio-list a{
    text-decoration: none;
}

.portfolio-list h2{
    color: var(--black-title-color);
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-type{
    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.9;
}

.portfolio-description{
    color: var(--white-title-color);
    font-size: 18px;
    line-height: 28px;
}
